.App {
    @apply bg-white;
    @apply min-h-screen;
    @apply w-screen;
    @apply text-xl;
    @apply p-5;
}

button,
button>i {
    transition: all .3s ease;
}

button:focus {
    outline: none;
}

.button {
    @apply rounded-md;
    @apply flex;
    @apply items-center;
    @apply p-2;
    @apply border;
    @apply border-l-4;
    @apply border-r-4;
    @apply space-x-1;
    @apply w-full;
}

button.button {
    @apply w-max;
}


/*  */

.button-green {
    @apply border-green-500;
}

.button-green:focus,
.button-green:hover {
    @apply text-white;
    @apply bg-green-500;
}


/*  */

.button-blue {
    @apply border-blue-500;
}

.button-blue:focus,
.button-blue:hover {
    @apply text-white;
    @apply bg-blue-500;
}


/*  */

.button-gray {
    @apply border-gray-500;
}


/*  */

.button-purple {
    @apply border-purple-500;
}

.button-purple:focus,
.button-purple:hover {
    @apply text-white;
    @apply bg-purple-500;
}


/*  */

.button-red {
    @apply border-red-500;
}

.button-red:focus,
.button-red:hover {
    @apply text-white;
    @apply bg-red-500;
}


/*  */

.desc-ext-line {
    position: relative;
    @apply z-0;
}

:root {
    --desc-border-setter: 19px;
}

.desc-ext-line::before {
    content: "";
    height: calc(100% - var(--desc-border-setter));
    width: 1px;
    position: absolute;
    top: 21px;
    left: calc(var(--desc-border-setter) * -1);
    @apply bg-gray-500;
    @apply z-0;
}


/* .desc-ext-line::after {
    content: "";
    width: calc(100% + var(--desc-border-setter));
    height: 1px;
    position: absolute;
    top: calc(100% + 5px);
    left: calc(var(--desc-border-setter) * -1);
    @apply bg-gray-500;
} */

.popup {
    @apply flex;
    @apply flex-col;
    @apply space-y-2;
    @apply rounded-md;
    @apply max-w-lg;
    @apply w-full;
    @apply p-4;
    @apply bg-white;
    @apply z-10;
    @apply border-2;
    @apply outline-white;
    @apply outline;
}


/* 
.popup-blue {
    @apply border-blue-500;
}

.popup-gray {
    @apply border-gray-500;
}

.popup-green {
    @apply border-green-500;
}

.popup-red {
    @apply border-red-500;
}

.popup-purple {
    @apply border-purple-500;
} */

.disable-bg {
    @apply fixed;
    @apply top-0;
    @apply left-0;
    @apply w-screen;
    @apply h-screen;
    @apply flex;
    @apply items-center;
    @apply justify-center;
    @apply overflow-hidden;
    @apply bg-gray-700;
    @apply bg-opacity-60;
    @apply z-50;
    backdrop-filter: blur(10px);
}

.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 48;
}

button:focus>i.material-symbols-outlined,
button:hover>i.material-symbols-outlined,
button:active>i.material-symbols-outlined {
    font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 48;
}